<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Seleccionar Ruta</title>
    <style>
        body { font-family: sans-serif; margin: 0; padding: 0; }
        #map { height: 100vh; }
        .info-box { position: absolute; top: 10px; left: 50px; z-index: 1000; background: white; padding: 10px; border-radius: 5px; box-shadow: 0 0 10px rgba(0,0,0,0.5); }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.4/dist/leaflet.css"/>
</head>
<body>
    <div class="info-box">
        <h3 id="instruction">1. Haz clic en el mapa para seleccionar el PUNTO DE ORIGEN</h3>
    </div>
    
    {{ mapa_html|safe }}

    <form id="coordForm" action="/ruta" method="POST" style="display:none;">
        <input type="text" id="origen_lat" name="origen_lat">
        <input type="text" id="origen_lon" name="origen_lon">
        <input type="text" id="destino_lat" name="destino_lat">
        <input type="text" id="destino_lon" name="destino_lon">
    </form>

    
    
</body>
</html>